.cards-wrapper {
  box-shadow: 0 1px 18px 1px rgba(0, 0, 0, .3);
  max-height: 500px;
  overflow-y: scroll;
  .card-block {
    border: 1px solid $gray;
    border-top-width: 4px;
    border-top-color: $blue;
    background-color: $white;
    .card-header {
      padding: 10px;
      border-bottom: 1px solid $gray;
      .card-header-title {
        display: inline-block;
        color: $gray;
      }
      .card-header-print {
        cursor: pointer;
        float: right;
        color: $blue;
        i {
          padding-right: 5px;
        }
        @media #{$phone} {
          float: none;
          padding-top: 10px;
        }
      }
    }
    .card-content {
      display: flex;
      flex-wrap: nowrap;
      .card-left-side {
        position: relative;
        padding: 15px 30px;
        width: 25%;
        &:before {
          background-color: $gray;
          display: block;
          position: absolute;
          width: 1px;
          height: 100%;
          content: '';
          top: 0;
          bottom: 0;
          right: 0;
        }
        a {
          color: $blue;
          text-decoration: none;
        }
      }
      .card-right-side {
        width: 75%;
        .col {
          padding: 15px 30px;
          display: inline-block;
          width: 50%;
          vertical-align: top;
        }
        @media #{$tablet} {
          .col {
            width: 100%;
            &:last-child {
              padding: 0 30px 15px 30px;
            }
          }
        }
      }
      @media #{$tablet} {
        .card-left-side {
          width: 35%;
        }
        .card-right-side {
          width: 65%;
        }
      }
      @media #{$phone} {
        display: block;
        .card-left-side {
          width: 100%;
          &:before {
            display: none;
          }
        }
        .card-right-side {
          width: 100%;
        }

      }
    }
    .card-item {
      padding: 20px 0;
      strong {
        color: $black;
        display: block;
        padding: 2px 0;
      }
    }
    .gray {
      color: $gray;
    }
  }
}
